<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="ISO-8859-1">
  <title>Movie System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
  <a th:href="@{/admin/add}">Add Movie here</a>>
  <h1>Movies List</h1>
  <table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        description
      </th>
      <th>
        Genre
      </th>
      <th>
        Rate
      </th>
      <th>
        img
      </th>
      <th>
        Update
      </th>
      <th>
        Delete
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movies: ${listMovie}">
      <td th:text="${movies.getName()}"></td>
      <td th:text="${movies.getDescription()}"></td>
      <td th:text="${movies.getGenre()}"></td>
      <td th:text="${movies.getRate()}"></td>
      <td th:text="${movies.getImg()}"></td>
      <td> <a th:href = "@{/admin/update/{id}(id=${movies.getId()})}">Update</a></td>
      <td> <a th:href = "@{/admin/delete/{id}(id=${movies.getId()})}">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>